.p-card06 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(25% - 1.5rem);
	margin-right: rem(32);
	@include mq(md) {
		width: 100%;
		margin-right: 0;
	}
}

.p-card06--link {
	display: block;
}

.p-card06:nth-of-type(4n) {
	margin-right: 0;
}
.p-card06:nth-of-type(n + 5) {
	margin-top: rem(32);
}

.p-card06__wrapper {
	display: block;
}

.p-card06__imgBox {
	width: 100%;
	border-radius: 10px;
	position: relative;
	@include mq(md) {
		position: static;
		height: calc(450 / 728 * 100vw);
	}
}

.p-card06__imgBox:before {
	content: '';
	display: block;
	padding-top: 100%;
	@include mq(md) {
		// padding-top: 61.81318%;
		padding-top: 0;
	}
}

.p-card06__imgBox img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	@include mq(md) {
		position: static;
		width: auto;
		height: auto;
		object-fit: contain;
	}
}

.p-card06__title {
	font-size: rem(16);
	font-weight: bold;
	margin-top: rem(24);
	@include mq(md) {
		font-size: rem(21);
		margin-top: rem(31);
	}
}

.p-card06__date {
	display: block;
	font-size: rem(12);
	color: #9b9b9b;
	// color: red;
	margin-top: rem(13);
	@include mq(md) {
		font-size: rem(16);
		margin-top: rem(17);
	}
}
