.p-catDetail {
	background-color: #fff;
}

.p-catDetail__subTitle {
	margin-top: rem(24);
}

.p-catDetail__container1 {
	margin-top: rem(30);
	padding-left: rem(50);
	padding-right: rem(50);
}

.p-catDetail__buttonBox {
	text-align: center;
	margin-top: rem(50);
}

.p-catDetail__container2 {
	margin-top: rem(30);
	padding-left: rem(50);
	padding-right: rem(50);
}

.p-catDetail__comment {
	margin-top: 3.375rem;
}

.p-catDetail__shop {
	margin-top: 3.5rem;
}

.p-catDetail__otherBreeds {
	margin-top: 5rem;
}
