.p-footerNavi__Box {
	height: inherit;
	display: flex;
}

.p-footerNavi__Item {
	height: inherit;
}

.p-footerNavi {
	height: inherit;
}

.p-footerNavi__Item a {
	display: grid;
	height: inherit;
	font-size: rem(14);
	font-weight: 500;
	place-items: center;

	&:hover {
		background-color: rgba(255, 95, 50, 1);
		opacity: 1;
		color: #fff;
	}
}

.p-footerNavi__Item--header a {
	padding: rem(55) rem(28) rem(28);
}

.p-footerNavi__Item--footer a {
	padding: 0 rem(28);
	@include mq(md) {
		padding: 0 rem(20);
	}
}
