.p-japanMap {
	max-width: rem(800);
	// width: rem(800);
	width: 66.6666666vw;
	max-height: rem(482);
	// height: rem(482);
	height: 40.1666666vw;
	padding-bottom: rem(24);
	margin-right: auto;
	margin-left: auto;
	@include mq(md) {
		max-width: rem(1066);
		width: 88.8888888vw;
		max-height: 53.555420777vw;
		height: rem(643);
	}
}

.p-japanMap__inner {
	position: relative;
	// max-width: rem(512);
	// width: rem(512);
	// max-height: rem(458);
	// height: rem(458);
	width: 64%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.p-japanMap__1 {
	display: block;
	// width: rem(164);
	// height: rem(116);
	width: 32.03125%;
	height: 25.3275109%;
	right: 0;
	top: 0;
}

.p-japanMap__2 {
	display: block;
	// width: rem(164);
	// height: rem(302);
	// top: rem(136);
	// right: rem(40);
	width: 32.03125%;
	height: 65.938864628%;
	right: 7.8125%;
	top: 29.694323144%;
}

.p-japanMap__3 {
	display: block;
	// width: rem(184);
	// height: rem(91);
	// right: rem(184);
	// top: rem(247);
	width: 35.9375%;
	height: 19.868995633%;
	right: 35.9375%;
	top: 53.930131004%;
}

.p-japanMap__4 {
	display: block;
	// width: rem(144);
	// height: rem(81);
	// right: rem(224);
	// top: rem(356);
	width: 28.125%;
	height: 17.685589519%;
	right: 43.75%;
	top: 77.729257641%;
}

.p-japanMap__5 {
	display: block;
	// width: rem(124);
	// height: rem(220);
	// right: rem(388);
	// top: rem(237);
	width: 24.21875%;
	height: 48.034934497%;
	right: 75.78125%;
	top: 51.74672489%;
}

.p-japanMap__sapporo {
	// right: 0;
	// top: rem(48);
	// right: 0;
	// top: 9.375%;
	right: 0;
	top: 4vw;
	transform: translateX(50%);
}

.p-japanMap__miyagi {
	// right: 0;
	// top: rem(247);
	right: 0;
	top: 53.930131004%;
	transform: translate(50%, -50%);
}

.p-japanMap__shinjuku {
	// right: 0;
	// top: rem(438);
	right: 0;
	top: 95.633187772%;
	transform: translate(50%, -50%);
}

.p-japanMap__ishikawa {
	// right: rem(145);
	// top: rem(247);
	right: 28.3203125%;
	top: 53.930131004%;
	transform: translateY(-50%);
}

.p-japanMap__umeda {
	// right: rem(145);
	// top: rem(338);
	right: 28.3203125%;
	top: 73.799126637%;
	transform: translateY(-50%);
}

.p-japanMap__shizuoka {
	// right: rem(145);
	// top: rem(438);
	right: 28.3203125%;
	top: 95.633187772%;
	transform: translateY(-50%);
}

.p-japanMap__fukuoka {
	// right: rem(338);
	// top: rem(247);
	right: 72.015625%;
	top: 53.930131004%;
	transform: translateY(-50%);
}

.p-japanMap__kagoshima {
	// right: rem(450);
	// top: rem(438);
	right: 87.890625%;
	top: 95.633187772%;
	transform: translateY(-50%);
}
