.p-topBreed {
	padding-top: rem(50);
	padding-bottom: rem(96);
	background-color: #fafafa;
}

.p-topBreed__subTitle {
	margin-top: rem(24);
}

.p-topBreed__lists1{
  margin-top: rem(38);
}

.p-topBreed__container {
	margin-top: rem(30);
	padding-left: rem(50);
	padding-right: rem(50);
}

.p-topBreed__button {
	text-align: center;
	margin: rem(50) auto 0;
}
