.p-topBlog{
  padding-top: rem(96);
  padding-bottom: rem(96);
  background-color: #FAFAFA;
}

.p-topBlog__subTitle{
  margin-top: rem(24);
}

.p-topBlog__container{
  margin-top: rem(30);
}

.p-topBlog__button{
  text-align: center;
  margin: rem(54) auto 0;
}