.wp-block-columns .wp-block-column figure {
	width: 100%;
	height: 100%;
}

.wp-block-columns .wp-block-column figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.wp-block-columns .wp-block-column figure figcaption {
	font-size: rem(12);
	@include mq(md) {
		font-size: rem(14);
	}
}
