a.c-button01__link {
	display: block;
	color: #ff5f32;
	font-size: rem(18);
	line-height: 3.23;
	letter-spacing: 0;
	text-align: center;
	font-weight: bold;
	width: rem(420);
	background-color: transparent;
	border: #ff5f32 1px solid;
	border-radius: 30px;
	opacity: 1;
	z-index: 3;
	position: relative;
	@include mq(md) {
		width: rem(300);
	}
}

a.c-button01__link:hover {
	color: #fff;
	border: #fff 1px solid;
}

a.c-button01__link::after {
	position: absolute;
	content: '';
	width: rem(12);
	height: rem(12);
	border: 0px;
	border-top: solid 1px #ff5f32;
	border-right: solid 1px #ff5f32;
	transform: rotate(45deg);
	top: 50%;
	margin-top: rem(-6);
	right: rem(20);
}

a.c-button01__link:hover::after {
	opacity: 1;
	border-top: solid 1px #fff;
	border-right: solid 1px #fff;
}

div.c-button01 {
	width: rem(420);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@include mq(md) {
		width: rem(300);
	}
}

div.c-button01::after {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 0;
	border-radius: 30px;
	background-color: rgba(255, 95, 50, 1);
	transition: all 0.3s ease;
	opacity: 1;
}

div.c-button01:hover::after {
	left: 0;
	width: 100%;
	opacity: 1;
	border-radius: 30px;
}
